.wallpaper {
  border-radius: 6px;
}

.wallpaper-row {
  border-radius: 12px;
}

.version {
  font-weight: 800;
  font-size: 40pt;
}

.narrow-display .version {
  font-size: 20pt;
}

.date {
  font-size: 12pt;
}

.narrow-display .date {
  font-size: 11pt;
}

headerbar.overlay {
  background-color: alpha(@headerbar_bg_color, .75);
}

headerbar.overlay:backdrop {
  background-color: alpha(@headerbar_backdrop_color, .75);
}
